@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.woff") format("woff"), url("Circe-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.woff") format("woff"), url("Circe-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.woff") format("woff"), url("Circe-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.woff") format("woff"), url("Circe-Regular.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
